html {
    scroll-behavior: smooth;
    background-color: #ffffff00;
}

h1 {
    font-size: 18pt;
    padding: 6px;
    margin: 0 0 8px 0;
    border-bottom: 4px solid rgb(102, 156, 192);
    line-height: 4rem;
}